venv/
media/
staticfiles/

.vscode/
*.code-workspace

node_modules/

# Sistema Operativo
.DS_Store
Thumbs.db

# Migrations
voting/migrations/__pycache__/
voting/management/commands/__pycache__/
voting/services/__pycache__/

# Cache
voting/__pycache__/

# Principal site
mysite/__pycache__/
