venv/
media/
staticfiles/

.vscode/
*.code-workspace

node_modules/

# Sistema Operativo
.DS_Store
Thumbs.db
db.sqlite3

# Migrations
apps/teachers/migrations/__pycache__/
apps/teachers/management/commands/__pycache__/
apps/teachers/services/__pycache__/

# Cache
apps/teachers/__pycache__/

# Global cache
**/__pycache__/
*.pyc